* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-color: #1a1a1a;
    --bg-color-2: #262626;
    --bg-color-dark: #0d0d0d;
    --main-color: #6e57e0;
    --main-color-2: #573ddb;
    --text-color: white;
    --h1--font: 3.75rem;
    --h2--font: 3.25rem;
    --h3--font: 3rem;
    --h5--font: 2rem;
    --p-font: 1rem;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
/* header section */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 1rem 8%;
    border-bottom: 1px solid transparent;
    transition: all 0.45s ease;
}
.logo {
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    /* animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none; */
    animation: slideInLeft 1s ease-in;
}
span {
    color: var(--main-color);
}
.menu__items {
    display: flex;
}
.menu__items li a {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 2rem;
    transition: all 0.45s ease;
}
.menu__items li a:hover {
    color: var(--main-color);
}
.menu__items li a.active {
    color: var(--main-color);
}
#menu-icon {
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    margin-left: 8%;
    display: none;
}
.btn {
    background-color: var(--main-color);
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 10px 1.5rem;
    border-radius: 30px;
    letter-spacing: 1px;
}
.btn:hover {
    transition: 0.4s ease;
    transform: scale(1.1);
    border: 2px solid var(--main-color-2);
    background-color: transparent;
}
/* intro content */
section {
    padding: 10rem 8% 7.5rem;
}
.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/img/istockphoto-1341437653-1024x1024-transformed-vanila.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.slide {
    margin-bottom: 1.5rem;
}
.one {
    display: inline-block;
    margin-right: 2rem;
    padding: 0 1.5rem;
    line-height: 4rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 30px;
    background-color: var(--main-color);
    color: var(--text-color);
}
.two {
    display: inline-block;
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 500;
}
.intro__content h1 {
    font-size: var(--h1--font);
    font-weight: 700;
    margin: 0 0 1rem;
    letter-spacing: 2px;
    line-height: 1.1;
}
.intro__content h3 {
    font-size: var(--h3--font);
    font-weight: 700;
    margin: 0 0 3rem;
    letter-spacing: 2px;
    line-height: 1.1;
}
.intro__content p {
    width: 60%;
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 3rem;
}
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
input[type="submit"] {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid transparent;
    padding: 10px 1.5rem;
    border-radius: 30px;
}
input[type="submit"]:hover {
    transition: 0.4s ease;
    transform: scale(1.1);
    border: 2px solid var(--main-color-2);
    background-color: transparent;
}
header.sticky {
    background-color: var(--bg-color-2);
    border-bottom: 1px solid #ffffff1a;
    padding: 1rem 8%;
}

/* about me section */
.about__me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about__img img {
    max-width: 30rem;
    height: auto;
    width: 100%;
    border-radius: 1rem;
}
.about__text h2 {
    font-size: var(--h2--font);
    line-height: 1;
}
.about__text h5 {
    font-size: var(--h5--font);
    font-weight: 600;
    line-height: 1;
    margin: 1.75rem 0 3.75rem;
}
.about__text p {
    font-size: var(--p-font);
    line-height: 1.5;
    margin-bottom: 4rem;
}
.about__btn {
    background-color: var(--main-color);
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 10px 1.5rem;
    border-radius: 30px;
    transition: 0.3s ease;
}
.about__btn:hover {
    background-color: transparent;
    border: 2px solid var(--main-color-2);
    transition: 0.4s ease;
    transform: scale(1.1);
}

/* Services section */
.service {
    background-color: var(--bg-color-2);
}
.service__text {
    text-align: center;
}
.service__text p {
    font-size: var(--p-font);
    margin-bottom: 1rem;
}
.service__text h2 {
    font-size: var(--h2--font);
    font-weight: 600;
    line-height: 1;
}
.service__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    text-align: center;
}
.service__card {
    background-color: var(--bg-color);
    padding: 2.2rem 2.8rem;
    border-radius: 1rem;
    transition: all 0.45s ease;
}
.s__icons i {
    font-size: 3rem;
    margin-bottom: 2.25rem;
}
.service__card h5 {
    font-size: var(--h5--font);
    margin-bottom: 2.25rem;
    font-weight: 600;
}
.service__card p {
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 3rem;
}
.service__card:hover {
    transform: translateY(-1rem);
    cursor: pointer;
}
.service__card .service__btn {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    border: 2px solid transparent;
}
.service__card .service__btn:hover {
    transition: 0.4s ease;
    border: 2px solid var(--main-color-2);
    background-color: transparent;
}
/* Message Me section */
.message {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.message__text h2 {
    font-size: var(--h2--font);
    font-weight: 600;
    margin: 2.25rem 0;
    line-height: 1;
}
.message__text p {
    font-size: var(--p-font);
    margin-bottom: 2.5rem;
    line-height: 1.8;
}
.list {
    margin-bottom: 2rem;
}
.list li {
    margin-bottom: 1.25rem;
    display: block;
    width: fit-content;
    transition: all 0.45s ease;
    font-size: 1rem;
    cursor: pointer;
}
.list li i {
    font-size: 1.25rem;
    margin: 0 0.75rem 0 0;
}
.list li:hover {
    transform: translateX(1rem);
}
.social__links {
    display: flex;
    margin-bottom: 3rem;
}
.social__links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: var(--main-color);
    border-radius: 50%;
    margin: 0 1.5rem 0 0;
    color: var(--text-color);
    font-size: 1.25rem;
    border: 2px solid transparent;
}
.social__links a:hover {
    transition: 0.4s ease;
    transform: scale(1.2);
    border: 2px solid var(--main-color-2);
    background-color: transparent;
    box-shadow: 0 0 20px var(--main-color-2);
}
.message__form form {
    position: relative;
}
.message__form form input,
form textarea {
    width: 100%;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
    background: var(--bg-color-2);
    border: none;
    outline: none;
    font-size: 1.25rem;
    border-radius: 1rem;
}
.message__form textarea {
    resize: none;
    height: 15rem;
}
.message__form .message__btn {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 10px 1.5rem;
    border-radius: 30px;
    transition: 0.45s ease;
    cursor: pointer;
}
.message__form .message__btn:hover {
    background-color: transparent;
    border: 2px solid var(--main-color-2);
    transition: 0.4s ease;
    transform: scale(1.1);
}
/* Footer */
.foo__end {
    padding: 1.25rem 8%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color-2);
}
.foo__end-text p {
    font-size: var(--p-font);
}
.top a {
    display: block;
    color: var(--text-color);
    font-size: 1.25rem;
}
.top a i {
    background: var(--main-color);
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 50%;
}
.top a i:hover {
    transition: 0.4s ease;
    box-shadow: 0 0 20px var(--main-color-2);
}

/* Animation */
@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1480px) {
    header {
        padding: 1.75rem 2.5%;
        transition: 0.1s;
    }
    header.sticky {
        padding: 1.75rem 2.5%;
        transition: 0.1s;
    }
    section {
        padding: 110px 3% 60px;
        transition: 0.1s;
    }
    .foo__end {
        padding: 1.75rem 2.5%;
        transition: 0.1s;
    }
}

@media (max-width: 1100px) {
    :root {
        --h1--font: 3rem;
        --h2--font: 2.5rem;
        --h3--font: 2rem;
        --h5--font: 1rem;
        --p-font: 0.75rem;
        transition: 0.1s;
    }
    .one,
    .two {
        font-size: 1rem;
    }
    .home {
        height: 87vh;
    }
}
@media (max-width: 920px) {
    .about__me {
        grid-template-columns: 1fr;
    }
    .about__img {
        text-align: center;
        order: 2;
    }
    .about__img img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .message {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 840px) {
    #menu-icon {
        display: block;
    }
    .menu__items {
        position: absolute;
        top: -1000%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color-2);
        text-align: left;
        transition: all 0.45s ease;
    }
    .menu__items li a {
        display: block;
        margin: 2rem;
        font-size: 1.5rem;
        transition: all 0.45s ease;
        color: var(--text-color);
    }
    .menu__items li a:hover {
        color: var(--main-color);
    }
    .menu__items li a.active {
        color: var(--main-color);
    }
    .menu__items.open {
        top: 100%;
    }
}
